.body-info{
    margin-top: 80px;
    width: 100%;

}
.body-info-content{
  width: 100%;
  padding: 30px 17% 30px 17%;
}
.body-info-content-title span{
    font-size: 18px; vertical-align: top;
}
.body-info-content-title{
  text-align: center;
  margin-bottom: 30px;
}
.body-info-content-body-image{
    width: 100%;
    margin-bottom: 20px;
}
.body-info-content-body-image img{
    width: 100%;
    aspect-ratio: 3/2;
 object-fit: cover;

}
.body-info-content-text{
    /* font-size: 14px; */
    font-size: 100%;
    line-height: 20px;
    margin-bottom: 20px;
}
.info-footer{
    padding: 30px 5% 30px 5%;
    
}
.info-footer-title{
    padding-left: 60px;
}
.select-city-district{
    margin-top: 40px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 50px;
}
.select-city-district .select-city,.select-city-district .info-select-district,.label-city,.option-city,.info-label-district,.info-option-district{
    width: 100%;
}
.label-city,.option-city,.info-label-district,.info-option-district{
    height: 25px;
}
.body-info-header-text{
    margin-left: 50px;
    color:  #9EA09E ;
    font-size: 14px;
}
.select-button-search{
   margin-top: 15px;
   margin-bottom: 50px;
}
.select-button-search button{
    width: 160px;
    height: 50px;
    border: none;
    background-color: black;
    color: aliceblue;
}
.find-branch-left{
    width: 100%;
    aspect-ratio: 6/5;
}
.find-branch-left iframe{
    width: 100%;
    height: 100%;
}
.find-branch-right-scroll-bar{
    /* display: block; */
    
    max-height: 500px;
    width: 100%;
    padding: 0 0 0 20px;
    overflow: auto;
    overscroll-behavior: contain;
}
.find-branch-right-row{

    height: 108px;
    display: grid;
    grid-template-columns: 50px 1fr;
    padding: 15px 0 0 10px;
    border-bottom: #DDDDDD solid 0.1px;
    border-top:#DDDDDD solid 0.1px ;
}
.find-branch{
    margin-bottom: 10px;
    font-size: 16px;
}

.find-branch-right-box-input{
position: relative;
}
.find-branch-right-box-input input{
    position: relative;
    margin-top: 7px;
    width: 20px;
    height: 20px;
}
.find-branch-right-box-right{
    display: inline-block;
    line-height: 23px;
}
/* .find-branch-right-box-input-black{
    position: absolute;
    content: "";
   width: 16px;
   height: 16px;
   background-color: black;
   border-radius: 50px;
   top:9px;
   left:2.2px
} */
.find-branch-right-address-strong{
    font-size: 14px;
    font-weight:600;
}
.find-branch-right-address{
    font-size: 16px;
    
}
.find-branch-right-hotline{
   font-size: 15px;
}
@media (max-width:770px){
   .select-city-district{
       display: block;
   }
}