.group{
    display: flex;
}
.image{
    background-image: url(./../img/dang-nhap.jpg);
    background-size: cover;
    background-position: 100% 100%;
    background-repeat: no-repeat;
}
.login-form{
    display: block;
    margin: 10%;
    max-width: (20%,100%,40%); 
    background-color: #fff;
    border-radius: 15px;
    padding: 2%;
    line-height: 2.0;
}
.signup-form{
    display: block;
    margin: 10%;
    max-width: (35%,100%,40%);
    background-color: #fff;
    border-radius: 15px;
    padding: 2%;
    line-height: 2.0;
}
.forget-form{
    display: block;
    margin: 10%;
    width: (20%, 100%, 20%);
    background-color: #fff;
    border-radius: 15px;
    padding: 2%;
    line-height: 2.0;
}
.form-group{
    margin-top:20px;
}
.sub-form-group{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
}
.sub1{
    width: 50%;
    text-align: left;
}
.sub2{
    width: 50%;
    text-align: right;
}
.form-input{
    width: 100%;
    height: 35px;
    margin-top: 5px;
    padding: 4px 8px;
    border: none;
    border-bottom: 1px solid #ccc;
    border-radius: 5px;
}
.submit-button{
    width: 130px;
    height: 45px;
    background-color: #bc0516;
    color: white;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
}
.submit-button:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}
.forget-submit{
    width: 180px;
    height: 45px;
    background-color: #bc0516;
    color: white;
    font-size: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
}
.login-fail{
    color: #f33a58;
}