* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #333;
}
ul {
  list-style: none;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  color: #333;
}
/* Header */
header {
  background-color: #333;
  color: #fff;
  padding: 10px 0;
  text-align: center;
}

/* xong */
.admin-content {
  padding: 100px 0px;
}
.admin-content-left {
  width: 25%;
  height: 100vh;
  float: left;
  padding: 0 20px;
  background-color: #dddddd;
}
.admin-content-left > ul > li > a {
  margin-top: 20px;
  font-weight: bold;
}
.admin-content-left > ul > li {
  margin-top: 10px;
  font-weight: normal;
  padding: 6px 0px;
}

.admin-content-left ul ul {
  display: block;
  margin-left: 20px;
}
.admin-content-right {
  width: 75%;
  height: 100vh;
  float: left;
  padding: 0 20px;
  background-color: #f4f4f4;
}
.admin-content-right-cartegory_add input {
  height: 30px;
  width: 200px;
  padding: 0 10px;
  border: 1px solid #333;
  border-radius: 5px;
}
.admin-content-right-cartegory_add button {
  width: 60px;
  height: 30px;
  padding: 0 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  margin-top: 12px;
  margin-left: 60px;
}
.admin-content-right-cartegory_add button:hover {
  background-color: #fff;
  color: #333;
}

/* ------------------cartegory list -------------------*/
.admin-content-right-cartegory_list {
  margin-top: 20px;
}
.admin-content-right-cartegory_list > table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.admin-content-right-cartegory_list table tr th,
td {
  background-color: #dddddd;
  color: #000000;
  padding: 10px 0;
  border: 1px solid #333;
}
.admin-content-right-cartegory_list a {
  color: #333;
  padding: 0 10px;
}
.admin-content-right-cartegory_list a:hover {
  color: #333;
  text-decoration: underline;
}
/* -------------Brand----------  */
select {
  width: 200px;
  height: 30px;
  padding: 0 10px;
  border: 1px solid #333;
  border-radius: 5px;
}
form {
  margin-top: 20px;
  padding: 12px 0;
  display: grid;
  align-items: center;
}
.admin-content-right-brand-add {
  margin-top: 20px;
}
.admin-content-right-brand-add input {
  height: 30px;
  width: 200px;
  padding: 0px 10px;
  border: 1px solid #333;
  border-radius: 5px;
}
.admin-content-right-brand-add button {
  width: 60px;
  height: 30px;
  padding: 0px 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  margin-top: 12px;
  margin-left: 60px;
}
.admin-content-right-brand-add button:hover {
  background-color: #fff;
  color: #333;
}
/* ------------Product------------- */
.admin-content-right-product-add {
  margin-top: 20px;
}
.admin-content-right-product-add input {
  height: 30px;
  width: 300px;
  padding: 0px 10px;
  border: 1px solid #333;
  border-radius: 5px;
  margin: 12px 0;
}
.admin-content-right-product-add button {
  width: 60px;
  height: 30px;
  padding: 0px 10px;
  border: 1px solid #333;
  border-radius: 5px;
  background-color: #333;
  color: #fff;
  cursor: pointer;
  margin-top: 12px;
  margin-left: 60px;
}
.admin-content-right-product-add button:hover {
  background-color: #fff;
  color: #333;
}
textarea {
  width: 300px;
  height: 150px;
  padding: 10px;
  border: 1px solid #333;
  border-radius: 5px;
  margin: 12px 0;
}
.admin-content-right-product-add select {
  width: 300px;
  height: 30px;
  padding: 0 10px;
  border: 1px solid #333;
  border-radius: 5px;
  margin: 10px 0;
}
.admin-content-right-product-add input[type="file"] {
  margin-top: 12px;
  width: 300px;
  height: 30px;
  padding: 4px;
}
.admin-content-right-product-add label {
  margin-top: 12px;
  display: block;
}
.admin-content-right-product-list {
  margin-top: 20px;
}
.admin-content-right-product-list table {
  width: 100%;
  border-collapse: collapse;
  text-align: center;
}
.admin-content-right-product-list table tr th,
td {
  background-color: #dddddd;
  color: #000000;
  padding: 10px 0;
  border: 1px solid #333;
}
.admin-content-right-product-list a {
  color: #333;
  padding: 0 10px;
}
.admin-content-right-product-list a:hover {
  color: #333;
  text-decoration: underline;
}
.admin-content-right-product-list img {
  width: 100px;
  height: 100px;
}
